* {
    font-size: 16px;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 10px;
    background-color: rgb(15, 80, 123);
    color: whitesmoke;
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 2.5em;
}

header nav {
    padding: .7em;
    margin-right: 10px;
    font-size: 1.5em;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 2%;
}

h2 {
    font-size: 1.75em;
    padding: 2px;
}

#about-me {
    background-color: moccasin;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding:2px;
}

#my-projects ul {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: space-around;
    align-items: space-evenly;
}

#my-projects img {
    width: 320px;
}