
:root {
    --darkpurple: #da00ff2e;
    --electricblue: #00ffe5;
    --activatedblue: rgb(139, 255, 243);
    --purpleglow: #da00ffab;
    --blueglow: #008174;
    --lightpurple: #ff00ff;
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: var(--lightpurple);
}

h1 {
    font-size: 300%;
    padding: 2% 0;
}

h2 {
    font-size: 170%;
    padding: 1% 2%;
}

h3 {
    font-size: 150%;
    padding: 3% 0;
}

p {
    padding: 1em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(5, 7, 94);
}

header > * {
    max-width: 80%;
}

header nav {
    border: solid 2px var(--electricblue);
    margin: auto;
    display: flex;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    padding: 5px;
}

header nav ul li a {
    display: flex;
}

header nav ul li a:hover {
    color: var(--activatedblue);
}

#name {
    font-family: 'brush script mt', cursive;
}

.headshot {
    max-width: 40%;
    border: solid 2px var(--darkpurple);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px var(--blueglow);
}

#about-me {
    background-color: var(--darkpurple);
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding:2px;
    color: var(--electricblue);
}

main {
    background-color: black;
}

#my-projects {
    color: var(--electricblue);
}

#my-projects h2 {
    text-align: center;
    font-size: 3em;
    margin: 5px;
    font-family: 'brush script mt', cursive;
}

.featured {
    display: flex;
    justify-content: center;
}

.featured img {
    
}

.featured a {
    display: flex;
    padding: 3%;
    margin: 15px 0 15px 0;
    border: solid;
    border-color: var(--darkpurple);
    border-width: medium;
    border-radius: 15px;
    background-color: #000000;
    box-shadow: 0px 0px 15px 5px var(--blueglow);
}

.featured a:hover {
    border-color: var(--lightpurple);
    box-shadow: 0px 0px 25px 10px var(--electricblue);
}

#my-projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#my-projects ul li {
    padding: 3%;
    margin: 15px 0 15px 0;
    border: solid;
    border-color: var(--electricblue);
    border-width: medium;
    border-radius: 15px;
    background-color: #000000;
    box-shadow: 0px 0px 15px 5px var(--purpleglow);
}

#my-projects ul li:hover {
    border-color: var(--activatedblue);
    box-shadow: 0px 0px 25px 10px var(--purpleglow);
}

#my-projects img {
    width: 300px;
}

#contact {
    display: flex;
    flex-direction: column;
    background-color: var(--darkpurple)
}

#contact h2 {
    display: flex;
    justify-content: center;
    font-family: 'brush script mt', cursive;
    font-size: 2.5em;
    padding: 1%;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.25em;
    font-weight: bolder;
    padding: 2%;
}

#contact ul li {
    padding: 2%;
}

#contact ul li a:hover {
    border-color: var(--activatedblue);
    box-shadow: 0px 0px 25px 10px var(--purpleglow);
    border: solid medium var(--activatedblue);
    border-radius: 2px;
}

